.profile__description {
  padding-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
