.profile__edit-button {
	margin-top: 5px;
	margin-left: 18px;
	background-image: url(../../../images/profile__edit-button.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 24px;
	width: 24px;
	background-color: black;
	cursor: pointer;
	border: 1px white solid;

	transition: opacity 0.2s linear;
}

.profile__edit-button:hover {
	opacity: 0.5;
}

@media screen and (max-width: 768px) {
	.profile__edit-button {
		margin-left: 10px;
	}
}
