@import url(__logo/header__logo.css);
@import url(__href/header__href.css);

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 119px;
	border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
	.header {
		min-height: 84px;
	}
}
