@import url(__logo/header__logo.css);
@import url(__href/header__href.css);
@import url(__sign-in/header__sign-in.css);

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 100px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
  .header {
    height: 84px;
  }
}
